@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  background: #fff;
}

.header {
  transition: 0.3s ease;
  background-color: transparent;
}

.header.active {
  background-color: rgb(12, 11, 11);
  padding: 1rem 9%;
  box-shadow: 0 2.5rem 1rem rgba(0, 0, 0, 0.1);
}

.hero {
  background: url("img/logo.jpeg") center/cover no-repeat;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.whatsapp-btn {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 999;
}
